<div class="content">
    <div>
        <div class="main-header main-with-nav">
            <!-- title page-->
        </div>
        <div class="main-side-content">
            <div class="main-nav-expanded main-nav">
                <nav class="nav">
                    <!-- logo -->
                    <h1 class="nav-header-container">
                        <a href="#" class="logo">
                            <img src="images/logo_pagseguro.png" alt="logo">
                        </a>
                    </h1>
                    <!-- first menu -->
                    <ul class="nav-top-link">
                        <li>
                            <a href="#" class="nav-link" title="Dashboards">
                                <div class="nav-icon nav-icon-dashboards"></div>
                                <span class="nav-link-name"> Dashboards</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link" title="Relatórios">
                                <div class="nav-icon nav-icon-reports"></div>
                                <span class="nav-link-name"> Relatórios</span>
                            </a>
                        </li>                    
                    </ul>
                    <!-- second menu -->
                    <ul class="nav-bottom-link">
                        <li>
                            <a href="#" class="nav-link" title="Login">
                                <div class="nav-icon nav-icon-login"></div>
                                <span class="nav-link-name"> Login</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link" title="Logout">
                                <div class="nav-icon nav-icon-logout"></div>
                                <span class="nav-link-name"> Sair</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="main-content">
            {{outlet}}
        </div>
    </div>
</div>
